<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIV-Gestion</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container-1">
                <img src="" alt="" class="logo">
            </div>
            <ul class="lista-nav">
                <li>hola</li>
                <li>chao</li>
            </ul>
        </nav>
    </header>
    <aside class="lat-menu">
        <h2 class="aside">Inventario</h2>
        <h2 class="aside">Compras</h2>
        <h2 class="aside">Ventas</h2>
    </aside>
</body>
</html>